name: gamificacion

channels:
  - pytorch
  - nvidia
  - conda-forge

dependencies:
  - python=3.11
  - numpy
  - opencv
  - pip
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.4
  - pip:
      - ultralytics