name: gamificacion

channels:
  - conda-forge
  - pytorch
  - nvidia

dependencies:
  - python=3.11
  - numpy
  - opencv-python
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.4
  - pip
  - pip:
      - ultralytics
