name: gamificacion
channels:
  - conda-forge
  - pytorch

dependencies:
  - python=3.11
  - pip
  - numpy
  - pytorch
  - torchvision
  - torchaudio
  - pip:
      - ultralytics
      - opencv-python
